[2021-06-14 15:10] tischi opened #2 "LabelConverter et al. dependencies"
@KateMoreva

This is already interesting: https://github.com/mobie/bigdataviewer-ome-zarr/tree/main/src/main/java/de/embl/cba/bdv/ome/zarr/source

I see that we need this here, but we also need it in the mobie-fiji-viewer.
So we have to think about the dependency tree....

I do not have an answer. For now probably easiest to just have the classes duplicated.

[2021-06-14 15:13] tischi opened #3 "imagej-utils dependency"
[Here](https://github.com/mobie/bigdataviewer-ome-zarr/blob/cf1a7c0871e64afb63960f8b8a78002572999f25/src/main/java/de/embl/cba/bdv/ome/zarr/source/LabelConverter.java#L32), we depend on imagej-utils.

Not sure how to handle this....

[2021-06-14 15:14] tischi commented on #2
The current rendering of label images depends on imagej-utils and some classes that are currently in mobie-fiji-viewer. We have to think what to do about this.

[2021-06-14 15:16] KateMoreva commented on #2
Yes, unfortunately, I could not find another solution for now.

[2021-06-14 15:17] tischi opened #4 "Fiji menu entries"
Do we want to have Fiji menu entries in this repository? Probably not, but it is also a bit tedious to have too many repositories...

Fiji menu entries would drag in the whole SciJava ecosystem, i.e. `Command`s and such.

[2021-06-14 15:23] tischi opened #5 "Copy tests from mobie-fiji-viewer"
@KateMoreva in mobie-fiji-viewer in `src/test` there is a folder called `i2k2020`. This contains examples how to open something with the code. We should copy this over to here (and also the two xml files that come along with it and which are in the test/resources/i2k2020 folder of mobie-viewer-fiji).

If you want you can give it a try, otherwise I can do it later (probably tomorrow).

[2021-06-15 08:41] tischi opened #7 "Branch with minimal dependencies"
@KateMoreva @constantinpape

I think one option would be to have a repository that does nothing else but open the data set as a `SpimData` object.

Then one can do: `BdvFunctions.show( spimData )`; and could at least look at the data.

This would not have any nice rendering for the label masks, but it would have minimal dependencies.

Maybe we could make a branch along those lines to see how that

[2021-06-15 10:42] constantinpape commented on #7
Yes, as discussed in the gathertown meeting I also think that's what we should do.
So we don't include the coloring model here (#2, #3) and also don't include fiji menus (#4) and just implement ome.zarr->spimdata with minimal dependencies here.

[2021-06-16 07:19] constantinpape commented on #4
I think we decided to not include the fiji menus here to avoid the additional dependencies.
Closing this for now.

[2021-06-16 07:19] #4 closed

[2021-06-16 07:21] constantinpape commented on #3
For now, this repository will not treat label images differently, so we don't need any of this functionality here.

[2021-06-16 07:21] #3 closed

[2021-06-16 07:23] constantinpape commented on #7
In particular, the changes fromhttps://github.com/mobie/mobie-viewer-fiji/pull/297 should also be moved in here and once the zarr support here is working, we switch MoBIE to depend on this repository.

[2021-06-16 07:57] constantinpape opened #8 "Example files for different ome-zarr versions"
We aim to support the three different ome-zarr versions currently out there:
- 0.1 (this was the version used in the initial code), example data:
    -  https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/6001240.zarr
- 0.2 (use nested hierarchy instead of flat hierarchy), example data:
    - https://s3.embassy.ebi.ac.uk/idr/zarr/v0.2/6001247.zarr
 - 0.3 (allow variable num of dimensions and introduce `axe

[2021-06-18 13:17] joshmoore commented on #8
Hi @constantinpape, thanks for the reminder. I've just uploaded

https://s3.embassy.ebi.ac.uk/idr/zarr/v0.2/6001247.zarr

and will keep uploading more over the course of the next week.

[2021-06-18 15:15] constantinpape commented on #8
Thanks @joshmoore!

[2021-06-21 15:07] KateMoreva commented on #8
The reader [(version)](https://github.com/mobie/bigdataviewer-ome-zarr/pull/9) can open ome-zarr files of versions 0.1, 0.2 and 0.3 only if files are 3-5D.

[2021-06-22 06:30] tischi opened #10 "Transpose the data"
@KateMoreva

I saw that you commented out the part where the data is transposed.

This may be necessary to accommodate the different dimension ordering in the ZARR and in Java. For example `zyx` vs `xyz`.

I think you could post here some screenshots of how the images look in BDV and then
@constantinpape could maybe judge whether they currently look rotated in some way (or have the wrong [handedne

[2021-06-22 06:53] tischi opened #11 "AxisOrder"
@KateMoreva (@constantinpape)

The code currently contains a lot of boolean variables: `is2D`, ...

Could you please have a look whether we could get rid of them and replace them by an `enum` such as `bdv.util.AxisOrder`?

[2021-06-22 07:04] constantinpape commented on #11
So would you expect something like this?: (pseudocode)
[code]

[2021-06-22 07:06] constantinpape commented on #10
Yes, we probably need to keep transposing the spatial axes due to different axes convention in java and numpy.
I think it's easiest to check this if we compare the 2d image being loaded; I can post what I see when opening it in napari later.

[2021-06-22 07:18] KateMoreva commented on #10
yx:
![image](https://user-images.githubusercontent.com/48569608/122879758-ec8e0f00-d341-11eb-83f8-ea092f0e03ee.png)

cyx:
could not been read, solving problem
tyx:
could not been read, solving problem
zxy:
could not been read, solving problem
czyx:
![image](https://user-images.githubusercontent.com/48569608/122880528-c2891c80-d342-11eb-83c6-33d76da9ae23.png)

tzyx:
![image](https://user-images.git

[2021-06-22 08:50] constantinpape commented on #10
Thanks for uploading the screenshots @KateMoreva. I compared for the 2d images (3d is a bit more complicated, because bdv starts at the middle of the volume whereas napari starts at the beginning, so it takes a bit of time to find the right view.), see screenshots below.

So at least for 2d MoBIE and napari currently agree and it seems like the transposition is not necessary there!
I think we need

[2021-06-22 09:16] tischi commented on #11
Yes, and the point would be that the enum [exists already](https://github.com/bigdataviewer/bigdataviewer-vistools/blob/5c2b94b833f238f0fa506997bffa68a5406e6b93/src/main/java/bdv/util/AxisOrder.java#L46) in the BDV ecosystem.

[2021-06-22 09:21] constantinpape commented on #11
Ok, I see. I agree that we should use it, although it's a bit unfortunate that the axis conventions are different....

[2021-06-22 09:35] tischi commented on #11
different in which sense?

[2021-06-22 09:56] constantinpape commented on #11
Reversed:
| ome.zarr | bdv |
| ------------ | ---- |
| yx            | xy  |
| zyx          | xyz |
| cyx          | xyc |
etc

[2021-06-22 10:01] tischi commented on #11
If necessary, we could create an `OMEZARRAxisOrder` enum and write code such as `toAxisOrder( OMEZARRAxisOrder ozao )` and `toOMEZARRAxisOrder( AxisOrder ao )`.

But I am not sure it is necessary, maybe @KateMoreva could look into the code to see whether we need the `OMEZARRAxisOrder` at all...

[2021-06-22 10:26] KateMoreva commented on #11
If there are problems with axes reverting now they might be useful. For now, we can use an extra method and `axesMap` if needed.

[2021-07-22 14:18] tischi opened #14 "CI"
@KateMoreva @constantinpape

Hi @imagejan, also this one please! 😃

[2021-07-26 09:19] tischi opened #19 "Unused code in N5OMEZarrImageLoader ?"
@KateMoreva

I found this code in `N5OMEZarrImageLoader`

[code]

This will throw an exception when `multiscales==null` which is fine.

But what are you trying to do in `if (n5 instanceof N5S3ZarrReader) {...}`?

[2021-07-26 12:48] constantinpape commented on #14
@ctrueden @imagejan we decided that we only need to add a maven package for this repository, not for https://github.com/mobie/bigdataviewer-n5/issues/2. The org invitation for Curtis is still pending. Let us know if you need anything more from our side.

[2021-07-26 16:12] ctrueden commented on #14
@tischi @constantinpape I added all the needed secrets to the mobie organization. You should now be able to use the `github-actionify.sh` script in scijava/scijava-scripts to enable GitHub Actions builds for any public repositories you wish in this organization.

[2021-07-26 19:19] constantinpape commented on #14
Thanks @ctrueden!

[2021-07-27 06:36] tischi commented on #14
@KateMoreva Could you give this a try?
https://github.com/scijava/scijava-scripts

[2021-07-27 07:00] imagejan commented on #14
@KateMoreva Specifically, run this script from with your project folder: https://github.com/scijava/scijava-scripts/blob/master/github-actionify.sh

[2021-07-29 06:06] KateMoreva commented on #14
Unfortunately, I faced one problem, that so far I could not solve. Current brunch is main (which is a default branch), but I get the error
[code]

[2021-08-02 19:28] KateMoreva commented on #14
The issue is likely related to https://github.com/mobie/mobie-viewer-fiji/issues/392. @tischi, does it work for you?

[2021-08-03 06:17] tischi commented on #14
@KateMoreva
could you please try execute those lines on your computer? maybe that helps us to figure out what's going on: https://github.com/scijava/scijava-scripts/blob/786802e90949c95d4e0b8d1bb5f3bc450d614d3f/github-actionify.sh#L79

@imagejan do you know whether we need a default "main" branch or whether this should also work with "master"

[2021-08-03 08:53] KateMoreva commented on #14
It seems that the default (https://github.com/scijava/scijava-scripts/blob/786802e90949c95d4e0b8d1bb5f3bc450d614d3f/github-actionify.sh#L81-L82) is null for some reason.

[2021-08-03 09:49] tischi commented on #14
@KateMoreva

I tested on my mac within the mobie-viewer-fiji, and there is seems to work:

[code]

Does it work there for you as well?

[2021-08-03 09:51] tischi commented on #14
Also works within this repo for me:
[code]

[2021-08-03 09:56] KateMoreva commented on #14
Unfortunately, for me` echo $defaultBranch` is empty.

[2021-08-03 10:11] KateMoreva commented on #14
@tischi, I understood the error. My system language is Russian, thus grep cunt find ` HEAD branch`. :sweat_smile:

[2021-08-03 11:03] KateMoreva commented on #14
[WARNING] Simulation only. Run with -f flag to go for real.
- Repository = mobie/bigdataviewer-imageloader
- pom.xml is already OK
- Creating .github/workflows/build-main.yml
- Creating .github/workflows/build-pr.yml
- Creating .github/setup.sh
- Adding execute permission to .github/setup.sh
- Creating .github/build.sh
- Adding execute permission to .github/build.sh
- Version of pom-scijava (30.0.

[2021-08-03 12:20] tischi commented on #14
`should I run it with -f now?`
yeah, why not!

[2021-08-03 12:41] KateMoreva commented on #14
Done.

[2021-08-03 12:58] tischi commented on #14
OK!
I can't see it yet...
https://maven.scijava.org/#nexus-search;quick~bigdataviewer-imageloader
Did the log say something about uploading something to maven?

[2021-08-03 13:00] tischi commented on #14
positive control:
https://maven.scijava.org/#nexus-search;quick~bigdataviewer-core

[2021-08-03 13:01] KateMoreva commented on #14
The build failed because there are problems with Javadoc  (`no description provided`).

[2021-08-03 13:02] tischi commented on #14
I had similar issues. I think you have to manually go through the code and remove all Javadoc that is not fully valid....
So everything that starts with  `/**` and is not a fully valid Javadoc, e.g. missing parameter descriptions...

[2021-08-03 13:04] tischi commented on #14
Can you post here the full command that you ran?
I can ask whether there is a flag such that it reports the javadoc errors.

[2021-08-03 13:07] KateMoreva commented on #14
I simply ran `github-actionify.sh -f`.

[2021-08-03 13:12] tischi commented on #14
Can you try this?
`mvn javadoc:javadoc`

[2021-08-03 13:18] KateMoreva commented on #14
locally it is:

`[INFO] BUILD SUCCESS`

[2021-08-03 13:49] tischi commented on #14
Hm, could you maybe put an error into the javadoc and check if this is picked up by `mvn javadoc:javadoc`?
In addition, maybe just google for "check javadoc validity" and see what else there is around?

[2021-08-03 15:21] ctrueden commented on #14
Try:
[code]
To isolate the actual errors (as opposed to the warnings).

Alternately, you can add `<doclint>none</doclint>` to your properties if you really want to ignore all javadoc errors.

[2021-08-03 15:47] KateMoreva commented on #14
Thank you!
Сould you, please, give me a clue of how to solve another problem?

` Failed to execute goal org.apache.maven.plugins:maven-deploy-plugin:2.8.2:deploy (default-deploy) on project mobie: Failed to deploy artifacts: Could not transfer artifact org.scijava:mobie:jar:2.0.0-20210803.153230-1 from/to scijava.snapshots (dav:https://maven.scijava.org/content/repositories/snapshots): Failed to t

[2021-08-03 19:26] ctrueden commented on #14
There was a bug in the `ci-build.sh` which I fixed a couple of hours ago. Could you please, from the GitHub Actions build page in your web browser, rerun all jobs of that failing build? It will curl down the fixed build script, and hopefully the release will deploy successfully now.

[2021-08-03 20:06] KateMoreva commented on #14
Thank you!
Unfortunately, I faced another maven error:

[code]

[2021-08-06 19:42] KateMoreva commented on #14
@ctrueden, Сould you, please, give me a clue of how to solve this problem?

[2021-08-07 03:14] ctrueden commented on #14
@KateMoreva There was another bug in `ci-build.sh` where passwords with certain characters were not being escaped when written to the `settings.xml`. I fixed it yesterday (https://github.com/scijava/scijava-scripts/commit/bdd932af4c4816f88cb6a52cdd7449f175934634) but it's not yet tested. Could you please try rerunning the build one more time? If it still does not work, we can try resetting the pas

[2021-08-08 17:52] #5 closed

[2021-08-09 07:23] KateMoreva commented on #14
Thank you a lot! It works now.

[2021-08-12 07:25] KateMoreva opened #17 "Repo naming"
Should we change the name or the repo as we have writers as well as imageloaders?

[2021-08-12 08:07] constantinpape commented on #17
`bioimage-io` would be a good name. Does changing the repo name have consequences for pushing to sci-java.maven?
cc @ctrueden @imagejan

[2021-08-12 08:47] tischi opened #18 "class ArrayCreator code duplication?"
@KateMoreva The `ArrayCreator` is now used in two classes, isn't it? Maybe we could pull this out into its own class?

[2021-08-12 08:48] constantinpape commented on #18
I have transferred this issue here as all the relevant code has moved here.

[2021-08-12 08:54] constantinpape opened #20 "Double check axis orders"
See https://github.com/mobie/mobie-viewer-fiji/issues/365

[2021-08-12 09:18] tischi commented on #17
I think bioimage-io might be a bit too wide....
Maybe something with ngff?

[2021-08-12 09:25] constantinpape commented on #17
Sorry, I wanted to write `bigdataviewer-io` ... ([bioimage.io](https://bioimage.io/#/) is too hard-wired in my muscle memory right now :D)

[2021-08-12 19:08] ctrueden commented on #17
Does changing the repo name have consequences for pushing to sci-java.maven?

Whatever groupId + artifactId you use, that's where it will be located on maven.scijava.org in the releases repository. But you can rename it to whatever you want, and the deploys will continue to function. Two things to consider, though:

1) If/when you start deploying to OSS Sonatype, their authentication mechanism is

[2021-08-13 15:34] constantinpape commented on #17
Thanks for the detailed answer, @ctrueden!

Ok, having the `mobie.sc` org and using the reverse domain sounds like good practice  in any case.

I think for now we are the only ones depending on this package; but if we decide to change the repo name and want to advertise this package for wider use, it would be better to have the same maven package and repo name in order to avoid confusion.

Anyway,

[2021-09-02 17:28] tischi opened #23 "Writer implementation Command"
@K-Meech

I think it would be great if we could add a very simple ImageJ Command to save the current ImagePlus as ome.zarr.

However, maybe we are rather adding this UI Command to the mobie-fiji-viewer repo as there also is the loader?

[2021-09-03 08:18] K-Meech commented on #23
Sounds good! I can add this while I'm adding all the stuff for the project creator.
I think all the commands for opening ome-zarr have moved to this repo? e.g. https://github.com/mobie/bigdataviewer-imageloader/blob/d723edbc5985c5385e5f2d2ee60ca6becc2e768d/src/test/java/ui/OpenOMEZARRCommand.java I couldn't see them in mobie-fiji-viewer.

They're all in the /src/test/ for now. Did you want them in

[2021-09-03 08:26] KateMoreva commented on #23
I thought that the idea was to have Commands in MoBIE and everything needed for SpimData in `bigdataviewer-imageloader`
Maybe something went wrong while merging.
I'll fix it now.

[2021-09-03 08:34] KateMoreva commented on #23
@K-Meech, place use this version of MoBIE, commands are once again there
https://github.com/mobie/mobie-viewer-fiji/pull/419

[2021-09-03 08:39] K-Meech commented on #23
Great - thanks @KateMoreva! I'll add the writer command to the MoBIE repo

[2021-09-03 12:55] tischi opened #24 "Logging"
@KateMoreva The current master does a lot of logging:

[code]

Should we disable this or do you still need it for the debugging?

[2021-09-03 13:01] KateMoreva commented on #24
I do not need it for debugging.

[2021-09-03 13:10] KateMoreva commented on #24
I'll make the needed changes in master today.

[2021-09-03 16:05] KateMoreva commented on #24
The logging is turned off in the `master` but, you need to have the correct files from `bigdataviewer-imageloader`. I suggest finding the sources in the `maven` folder on your machine and clear them before `reloading` dependencies.

[2021-09-03 16:05] #24 closed

[2021-09-03 16:13] tischi commented on #24
Thanks a lot!
My workflow was:

1. pull the latest master of bdv-imgloader (i.e. 1.0.2-SNAPSHOT)
2. mvn clean install bdv-imgloader
3. switch to mobie-fiji-viewer
4. aaah, and then I probably forgot to `mvn -> reload project` (normally I do this)....I guess otherwise it should have worked?

[2021-09-03 16:26] KateMoreva commented on #24
Sometimes it is needed to be cleaned in the folder _by hands_ in the folder (something like /home/katerina/.m2/repository/mobie/bigdataviewer-imageloader/1.0.2-SNAPSHOT).

[2021-09-03 16:30] KateMoreva commented on #24
Nise workflow, but you actually can make it a bit easier (just leave 3, 4 points and clean the folder with the version from time to time). I am trying to not allow situations when the source files (for the current in-use version) are changing.

[2021-09-06 07:41] tischi opened #25 "Test dependency"
@KateMoreva I am curious, what is this dependency about:

[code]

What's the difference to simply this one?

[code]

[2021-09-06 07:56] KateMoreva commented on #25
The upper dependency is for JUnit5, the second one should be for JUnit4.

[2021-09-06 07:58] tischi commented on #25
OK! So you are essentially using the more modern one? I guess I should also switch?

[2021-09-06 08:01] KateMoreva commented on #25
It depends on your tests. If you want to use Before/AfterEach, Before/AfterAll methods and several other features surely:)

[2021-09-06 08:05] #25 closed

[2021-09-08 08:48] tischi opened #26 "Add test for opening BDVN5S3"
@KateMoreva the current `main` branch contains this code:

[code]

What about adding a `@Test` annotation to this to thereby also cover the bdv.n5.s3 code?

[2021-09-08 08:50] tischi opened #27 "Develop branch does not open bdv-n5-s3"
@KateMoreva

Running this code

[code]

In the `develop` brunch throws below errors.

[code]

Do you know why?

[2021-09-08 08:58] KateMoreva commented on #27
Because `develop` brunch in this repo was not even with the `main` branch. The `develop` branch here was my "helper" brunch and the same rules as for `develop` branch in `mobie-viewer-fiji` so far were not applied to this.

[2021-09-08 08:59] tischi commented on #27
OK! I guess maybe we should also adopt the same `develop` -> `main` policy here?

[2021-09-08 09:15] KateMoreva commented on #27
Yes, sure, I was going to. The `develop` branch should now run  OpenBDVN5S3XML.

[2021-09-08 09:22] KateMoreva commented on #26
To make a proper test adding an annotation is not enough. I will take a look and make a proper test here as well.

[2021-09-13 15:27] K-Meech commented on #23
This is on the develop branch now

[2021-09-13 15:27] #23 closed

[2021-09-30 11:26] tischi opened #32 "Class names"
@KateMoreva @constantinpape
I am confused about the names of those two classes:
<img width="190" alt="image" src="https://user-images.githubusercontent.com/2157566/135446727-d8efb101-5479-473c-859c-d820d027a305.png">
Is one of them reading from the file system?
And is only one of them reading OME?

[2021-09-30 11:29] tischi opened #33 "Unused code?"
@K-Meech @KateMoreva Are we using this class at all?
[code]

[2021-10-01 05:53] KateMoreva commented on #32
They both are reading OME.
Renamed in `develop`.

[2021-10-01 07:18] K-Meech commented on #33
I don't think so. The ```N5OmeZarrWriter``` is basically a copy of this class, with minor changes to make it fit the OME spec. So I think the ```N5ZarrWriter``` is a direct copy of the saalfeld lab one: https://github.com/saalfeldlab/n5-zarr/blob/master/src/main/java/org/janelia/saalfeldlab/n5/zarr/N5ZarrWriter.java

[2021-10-01 07:43] tischi commented on #33
If we don't use it, we could probably remove it, is it?

[2021-10-01 07:44] tischi commented on #32
OK, good point, I was looking at the master branch, but I guess I should have looked at the develop branch.

[2021-10-01 07:44] #32 closed

[2021-10-01 07:44] KateMoreva commented on #33
It was removed in `develop.`

[2021-10-01 07:45] #33 closed

[2021-10-06 12:32] tischi opened #34 "Package structure"
@constantinpape @KateMoreva
I found the package structure a bit confusing:
https://github.com/mobie/mobie-io/tree/develop/src/main/java/org/embl/mobie/io
The opening of n5 based files is "hidden" within "util". I think it should live on a similar level as ome.zarr

I would suggest to add an `org/embl/mobie/io/n5` package and move the n5 loaders readers and so on there and only keep the helper clas

[2021-10-07 19:39] constantinpape commented on #34
Yes, I agree. This would make more sense.

[2021-10-08 07:30] tischi commented on #34
Great Thanks a lot!!

[2021-11-03 09:09] #27 closed

[2021-11-03 09:11] tischi opened #36 "Make a release"
@KateMoreva @K-Meech @constantinpape
We are planning to make a new release of MoBIE.
I guess this means that we should merge the develop branch into the main branch and change the version to a non SNAPSHOT version, right?
If so, could you please do this?

[2021-11-03 09:36] KateMoreva commented on #36
develop is merged, the new version is 1.0.4

[2021-11-03 17:31] tischi opened #37 "Confusing method names..."
@KateMoreva

In the N5S3Opener you have:

[code]

I find it confusing that both methods take the same arguments. Maybe in the second one the variable name should be `key` rather than `url`? And could you please also add an explanation (JavaDoc) as to what the difference between those methods is and when one should use which?

[2021-11-09 13:15] tischi opened #47 "Add SpimDataOpener"
@KateMoreva @constantinpape

- [x] Copy `SpimDataOpener` here
- [x] Copy `ImageDataFormats` here
- [x] Copy what we need from imagej-utils here
- [x] Add documentation (javaDoc) to the `ImageDataFormat` enum to make clear what each of the file formats is
- [ ] Test using those classes from mobie-viewer-fiji
- [ ] Delete those classes from mobie-viewer-fiji and depend on mobie-io instead
- [ ] Ping

[2021-11-25 13:38] constantinpape opened #42 "Add support for ome-ngff-v0.4"
See discussions in
https://github.com/ome/ngff/pull/57
and example data at
https://s3.embl.de/i2k-2020/ngff-example-data/v0.4

[2021-11-26 10:06] constantinpape commented on #42
Observation from @KateMoreva the version in the example files is still 0.3, I need to fix this.

[2021-11-26 10:10] constantinpape commented on #42
@K-Meech will look into writing the new version.
For reading we still want to support 0.3; for writing not so important.
We can sort of drop the ome.zarr.xml with this addition.

[2021-11-26 10:14] constantinpape commented on #42
For validating: json validation: https://github.com/ome/ngff/pull/69#event-5676346881
ome-zarr-py: https://github.com/ome/ome-zarr-py

[2021-11-26 10:36] constantinpape commented on #42
@KateMoreva I checked the version of the example files I shared (https://s3.embl.de/i2k-2020/ngff-example-data/v0.4), but I think they have the correct version:
[code]
[code]
Could you please double check this and describe the issue with the version number more concretely if you still have it?

[2021-11-26 10:39] K-Meech commented on #42
@constantinpape Do you also have these files locally somewhere on the group shares?

[2021-11-26 10:42] KateMoreva commented on #42
Oh, yes, the example files have v 0.4, I meant the PR file: https://github.com/ome/ngff/pull/57/files#diff-ffe6148e5d9f47acc4337bb319ed4503a810214933e51f5f3e46a227b10e3fcdL241
Sorry for the confusion :(

[2021-11-26 10:58] constantinpape commented on #42
@KateMoreva

Oh, I see. We are working on some mechanism to bump all the version strings automatically, so that's why it's still at 0.3 there. Just ignore that, but Indeed it can be confusing.

@K-Meech

`/g/kreshuk/pape/Work/mobie/ngff/ome-ngff-prototypes/single_image/v0.4`
Let me know if you don't have access to it, then I can copy it somewhere else.

[2021-11-26 11:02] KateMoreva commented on #42
Thank you for this info! It will be useful for file system reading.

[2022-01-10 09:08] tischi opened #44 "SpimDataOpener for BDVHDF5?"
@KateMoreva @K-Meech @constantinpape

I am confused, how do we open BDV **HDF5** data?

https://github.com/mobie/mobie-io/blob/8251113a890e1de7fb71ba0cf05b52b97c67fa9b/src/main/java/org/embl/mobie/io/n5/openers/SpimDataOpener.java#L33

[2022-01-10 09:13] constantinpape commented on #44
@tischi that's a good point. It looks like the code currently doesn't support bdv hdf5 any more. But I agree that we should still support it here. I guess that the problem is that we currently don't have an example project for it, so @KateMoreva wasn't really aware that we should still support it.
I will create an example project with bdv.hdf5 later.

[2022-01-10 09:24] tischi commented on #44
like this?
`@SerializedName("bdv.hdf5")`

[2022-01-10 09:29] constantinpape commented on #44
I am not sure what you mean by this, but I think there should be a `case BdvHDF5`. And most likely this can be opened via `BdVUtils.openSpimData` so it can be just added [here](https://github.com/mobie/mobie-io/blob/8251113a890e1de7fb71ba0cf05b52b97c67fa9b/src/main/java/org/embl/mobie/io/n5/openers/SpimDataOpener.java#L36-L38).
(The shared queue function of course needs to also be adapted)

[2022-01-10 09:35] tischi commented on #44
That's what's written in the BDV XML in the image loader tag:

[code]

[2022-01-10 09:41] constantinpape commented on #44
Ah, I see. I think that the correct tag is `bdv.hdf5`. I will double check this.

[2022-01-10 09:59] tischi opened #46 "Add explanation"
@KateMoreva

Could you please document this part of the code a bit such that one could understand what's going on?

[code]

[2022-01-10 10:01] constantinpape commented on #44
I have added an example project with hdf5 here: `/g/kreshuk/pape/Work/mobie/hdf5-example-project`.
And I also double checked, the tag should indeed be `bdv.hdf5`.

[2022-01-10 10:42] KateMoreva commented on #44
Thanks! I made a branch (https://github.com/mobie/mobie-viewer-fiji/pull/565) to test this  (opening via BdVUtils.openSpimData)
but faced this
[code]
and thinking about solving it.

[2022-01-10 10:44] constantinpape commented on #44
Oh, that's a known issue with datatypes in hdf5 with java ... Please don't do anything about this for now, I will try to fix the data.

[2022-01-10 10:51] constantinpape commented on #44
@KateMoreva I have removed the h5 volume that causes this issue (I think). Could you please try again and see if it works now?

[2022-01-10 11:24] KateMoreva commented on #44
@constantinpape
Unfortunately, the error is still there.

[2022-01-10 11:42] constantinpape commented on #44
Ok, I will give it another update that will hopefully fix it later (and if that doesn't help we need to think about this closer.)

[2022-01-10 12:45] tischi commented on #46
@KateMoreva I think we should refactor those methods a bit to remove code duplication and make them easier to understand:

- openBdvOmeZarrS3
- openBdvOmeZarr

Could you do this today? Do you want to do it in the `tischi` branch or should be merge https://github.com/mobie/mobie-io/pull/45 and then you work on `develop`?

[2022-01-10 14:13] constantinpape commented on #44
@KateMoreva I updated the project again, could you check if you still get the same error?

[2022-01-10 14:57] KateMoreva commented on #44
@constantinpape
No errors this time! :smiley:
The image with the default brightness:
![image](https://user-images.githubusercontent.com/48569608/148786662-ffee4e8e-b40d-4d3b-a42e-92c6615ff464.png)

[2022-01-10 15:16] constantinpape commented on #44
Ok! The image looks a bit weird, but I might know why. I have just replaced the data once more. Could you try to load it again and paste another screenshot?

[2022-01-10 15:18] constantinpape commented on #44
@KateMoreva great, that's how it's supposed to look :).

[2022-01-11 18:59] #36 closed

[2022-01-19 08:44] tischi opened #48 "Maven build failed"
The deployment of mobie-io `1.1.0` (develop branch) failed:

Looking [here](https://github.com/mobie/mobie-io/runs/4772556549?check_suite_focus=true) I found:

[code]

Any ideas?

[2022-01-19 08:47] tischi commented on #48
`mvn clean install` works for me locally.

[2022-01-19 08:48] constantinpape commented on #48
This looks like some random connection issue. Try to restart the CI and see if this fixes it.

[2022-01-19 08:55] tischi commented on #48
Indeed, I just ran again and now it looks fine...

And deployment worked: https://maven.scijava.org/#nexus-search;quick~mobie-io

[2022-01-19 08:55] #48 closed

[2022-01-19 11:24] tischi opened #49 "Add shared queues for bdv.ome.zarr.s3"
@KateMoreva

Could you also enable shared queues for `BdvOmeZarrS3`?

Right now, we only have it for the case _without_ the `Bdv`:

https://github.com/mobie/mobie-io/blob/c3ddce209f7075cc995185e8c98418f667a7baaa/src/main/java/org/embl/mobie/io/SpimDataOpener.java#L73

[2022-01-19 11:32] KateMoreva commented on #49
Yes, I am working on it.
There are a few problems, but I hope to solve them by the end of this week and launch a new version of mobie-io with OMEZarr v4 and a shared queue for all formats.

[2022-01-27 12:20] K-Meech commented on #42
So I'm starting to look into updating the writers for v0.4 ome-zarr. @tischi @constantinpape Do we want to keep the ability to write 0.3? Or just shift everything to 0.4?

[2022-01-27 12:28] tischi commented on #42
I guess as long as we can still _read_ 0.3, I would be fine with only writing to the latest version (that we can read).

[2022-01-27 12:53] constantinpape commented on #42
I agree; it's enough if we write the latest version (i.e. 0.4 now), but we need to keep support for reading older versions.
Just to note: there are still some small changes for 0.4 pending and also reading does not fully work yet. I will continue working on this now and will ping you once there are updates.

[2022-01-27 13:12] constantinpape commented on #44
I think this is done, can we close the issue @tischi ?

[2022-01-27 13:14] #44 closed

[2022-01-27 13:17] tischi commented on #42
@constantinpape @KateMoreva @K-Meech
Where in our code do we check the OME.Zarr version when reading?
Using the current `develop` branch I am getting an error reading older zarr versions. The error is here:

[code]

...because `zarrAxes` is `null`...

Maybe we _cannot_ read old OME.zarr versions at the moment?

[2022-01-27 13:19] KateMoreva commented on #42
We can read v3, I'll fix the older variants now.

[2022-01-27 13:21] constantinpape opened #52 "Scale information is not used correctly in ome.zarr v0.4"
It looks like the scale information is not read correctly yet in the reader for ome.zarr v0.4. For example for the data from https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/tczyx.ome.zarr I see the following for the top and bottom of the volume:
![image](https://user-images.githubusercontent.com/4263537/151365812-137e6eaa-4476-4431-988a-74ae5ac69053.png)
![image](https://user-images.githubuserc

[2022-01-27 13:23] tischi commented on #42
Hm, I I think I am getting the error reading from: `"version": "0.3.0"`

Examples:

[code]

and

[code]

Note that I changed now according to https://github.com/mobie/mobie-viewer-fiji/issues/572:

`"fill_value": "0",`. to `"fill_value": 0,`

Could that be the issue?

[2022-01-27 13:25] tischi commented on #42
I think that's wrong?

[code]

[2022-01-27 13:27] constantinpape commented on #42
@tischi @KateMoreva can we please add tests to `mobie-io` that check that the old ome.zarr versions can still be read?

[2022-01-27 13:31] KateMoreva commented on #42
I think the problem was with reading the `multiscales` attribute.

[2022-01-27 13:33] KateMoreva commented on #42
@tischi, could you please try again? Note that you need new files from 1.2.1-SNAPSHOT.

[2022-01-27 13:36] tischi commented on #42
@KateMoreva  I did a `git pull` from `develop`, but it still is `private final String fill_value;`
I think this will not work, because it should be a number, right @constantinpape?

[2022-01-27 13:42] constantinpape commented on #42
Yeah, fill value should be a number. (That's the short version, ideally it should be a union type.) This seems to be an issue that we inherit from what n5-zarr is doing. I am not sure if it's a good idea to fix it here without looking into this more closely.
@tischi for now I think you shouldn't replace the string in the fill value line; it's most likely unrelated to the issue you are seeing with

[2022-01-27 13:48] KateMoreva commented on #42
@tischi, could you please write the full path to the dataset here? I want to check changes that may fix this problem.

[2022-01-27 13:59] tischi commented on #42
`/g/cba/exchange/kimberly/SXAA03648.ome.zarr`

[2022-01-27 14:00] tischi commented on #42
It works now @KateMoreva!

[2022-01-27 14:11] KateMoreva commented on #42
I opened the PR for a future fix of fill_value https://github.com/mobie/mobie-io/pull/53

[2022-01-27 14:12] tischi commented on #42
(the bug with the boundary chucks is still there though, see https://github.com/mobie/mobie-viewer-fiji/issues/572).

[2022-01-28 12:05] K-Meech opened #54 "Tests aren't running in Actions"
The tests in this repository aren't running during the build e.g. see: https://github.com/mobie/mobie-io/runs/4966733184?check_suite_focus=true#step:6:102 For some reason they're not being found by maven.

[2022-01-28 12:10] K-Meech commented on #54
They also don't run locally with ```mvn clean install```

[2022-01-28 12:16] tischi commented on #54
Probably we should include `develop` [here](https://github.com/mobie/mobie-io/blob/a6e8285fd2323ae316b9d1b8e96c643c4870b255/.github/workflows/build-main.yml#L4)?
Do you think that could be the issue?

[2022-01-28 12:17] tischi commented on #54
Ah, sorry, on the `develop` branch it is fine, in fact: https://github.com/mobie/mobie-io/blob/5ff3e1b7d195fd3a28c4f856e5289bac59e2cd3f/.github/workflows/build-main.yml#L4

[2022-01-28 12:22] K-Meech commented on #54
I think it's something to do with the dependencies in the pom - maybe the junit version vs maven version? (since it doesn't run locally either)

[2022-01-28 12:34] K-Meech commented on #54
Adding this dependency seems to fix it:
[code]
But some of the tests currently fail. I can add it to the current PR I'm working on.

[2022-01-28 12:48] K-Meech commented on #54
I added it here: https://github.com/mobie/mobie-io/pull/55

[2022-01-30 10:32] tischi opened #56 "Add test for boundary chunks issue"
Could we add a test for whether boundary chunks are written and read correctly? For example, validating that the values at the edge of the image are correct?!

[2022-01-31 09:25] K-Meech commented on #56
Yes - will do! It's a bit of a difficult one, as this issue only occurs with images above a certain size (where it writes more levels / reads from previously written levels). Also, the chunks it writes aren't corrupt, the values are just wrong - so it's a bit hard to check for. The easiest would probably be to generate a random image (of a big enough size), then write it to n5 and ome-zarr with th

[2022-01-31 11:39] K-Meech commented on #56
@tischi - what's the best way to check if two RandomAccessibleInterval have exactly the same pixel values?

[2022-01-31 12:48] tischi commented on #56
This is how you can copy one RAI into another:

[code]

Small modifications (some if statement in the while loop) of this would be probably allow you to compare the pixel values.

[2022-01-31 17:34] tischi opened #58 "README out of date"
@K-Meech @KateMoreva @constantinpape

It would be good to update the README.
A table (or list) indicating what we can read an write would be useful.

[2022-02-02 15:09] tischi opened #59 "Enable using multiple S3 secret and access keys"
Currently there can be only one global pair of keys for S3, see [here](https://github.com/mobie/mobie-io/blob/a10d949cfa9477c14f741a07529fbd9d5423a232/src/main/java/org/embl/mobie/io/util/S3Utils.java#L50). We should change this to enable multiple. This may however mean changing the `SpimDataOpener` API.

[2022-02-02 16:22] ksugar commented on #59
My suggestion is combining the `try-catch` statement with the current implementation. ([example](https://github.com/elephant-track/mastodon/blob/3886c22a072c86a80f62820d3b7bb7fac36d1732/src/main/java/org/mastodon/mamut/ProjectManager.java#L414-L449))
As far as I understand, the static member `s3AccessAndSecretKey` can be safely overwritten once the `AmazonS3` instance is built [here](https://githu

[2022-02-02 17:12] tischi commented on #59
@ksugar Very good point! In that sense there is maybe no big issue, because it only has to be correct while the instance is built and it is very unlikely that two applications do that at the very same time.
Still, not a nice code, but probably functional in most cases.

[2022-02-02 20:04] constantinpape commented on #52
@KateMoreva: ome.zarr v0.4 is finalized now with a few small changes.
The description is here: https://github.com/ome/ngff/blob/main/latest/index.bs
And the example data is now also up-to-date, you can find links to it here (both on s3 and a zip with all example data):
https://github.com/ome/ome-ngff-prototypes#data-availability

cc @K-Meech once you have time the writers could also be updated for

[2022-02-02 20:04] constantinpape commented on #17
I think we are happy with mobie-io for now.

[2022-02-02 20:04] #17 closed

[2022-02-02 20:06] constantinpape commented on #42
xref https://github.com/mobie/mobie-io/issues/52#issuecomment-1028310916

[2022-02-02 20:11] constantinpape opened #61 "Can we use / merge metadata functionality in n5-imglib2?"
@bogovicj is developing parsers for different metadata flavors in https://github.com/saalfeldlab/n5-imglib2/tree/master/src/main/java/org/janelia/saalfeldlab/n5/metadata. Eventually it would be nice to re-use this functionality for parsing ome.zarr metadata (and we could maybe also contribute our parsers for ome.zarr metadata there).

cc @KateMoreva

[2022-02-02 21:36] tischi opened #62 "Refactoring of SpimDataOpener"
In case this may be now used by more people, maybe a good moment to improve the main entry point, which is meant to be the [SpimDataOpener](https://github.com/mobie/mobie-io/blob/a10d949cfa9477c14f741a07529fbd9d5423a232/src/main/java/org/embl/mobie/io/SpimDataOpener.java#L34) class.

I was thinking maybe instead of the current method, we could rather have something like:

`SpimDataOpener.open( Spi

[2022-02-02 21:59] constantinpape opened #63 "Support ome.zarr with multiple images"
The [new example data](https://github.com/ome/ome-ngff-prototypes#data-availability) now also  has `multi-image.ome.zarr`, which contains multiple images in one container (each has their own "multiscales" metadata). We should check what happens when this is opened and think about what the correct behavior should be.
cc @tischi (discussed this today in the hackathon)

[2022-02-02 22:12] ksugar commented on #62
@tischi
This is a response to the last part.
In Mastodon, [XmlIoSpimDataMinimal.load()](https://github.com/bigdataviewer/bigdataviewer-core/blob/bigdataviewer-core-10.2.0/src/main/java/bdv/spimdata/XmlIoSpimDataMinimal.java#L65-L86) is used to load `SpimData` (see [here](https://github.com/mastodon-sc/mastodon/blob/2076e3aa2202cb43b2b46b41240b8c2b051f3416/src/main/java/org/mastodon/mamut/ProjectMa

[2022-02-13 20:29] tischi commented on #63
@constantinpape
How does one get the *ome.zarr keys?
https://s3.embl.de/i2k-2020/ngff-example-data/v0.4

[2022-02-13 20:40] constantinpape commented on #63
@tischi just to understand: you want to get all the objects in https://s3.embl.de/i2k-2020/ngff-example-data/v0.4 that have a ome.zarr extension?

From java, you need to use a `ListObjectRequestV2` to get all keys and then manually filter for the `ome.zarr` extension.
See for example https://github.com/saalfeldlab/n5-aws-s3/blob/master/src/main/java/org/janelia/saalfeldlab/n5/s3/N5AmazonS3Reader.j

[2022-02-14 07:37] tischi commented on #63
@constantinpape Thanks! I guess I was more wondering whether we should provide a table with the keys and also what is inside the respective zarr containers? That would make it easier to consume (also doing in `ls` in a bucket with zarr containers can be very slow due to the many small files).

[2022-02-14 08:29] constantinpape commented on #63
https://github.com/ome/ome-ngff-prototypes/blob/main/README.md#single-image

[2022-02-14 08:35] tischi opened #66 "Make release"
@KateMoreva @constantinpape
I am working on a release today. Keeping track here.
I updated some dependencies in the `develop` branch and (accidentally) also already brought the `main` branch to the same state.

[2022-02-14 08:57] tischi commented on #66
I updated MoBIE-beta.
Could you please check whether one can open the v04 OME-Zarr and also whether the rest is working.

[2022-02-14 08:59] tischi commented on #63
@KateMoreva
Could you please add a `@Test` where we open this?
https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/multi-image.ome.zarr

[2022-02-14 09:17] constantinpape commented on #66
I just checked with the new MoBIE-beta and everything works as expected.

[2022-02-14 09:22] constantinpape commented on #63
I tried opening it with the current version and this currently fails with some exception (see below).
However, it's not even quite clear what should happen in this case, as we need to decide which of the images to open.
For now, I see the following options:
- We don't support this for now, but give an error message that is easier to understand, like `ome.zarr files with multiple images are current

[2022-02-14 09:31] constantinpape commented on #56
Solved by #57

[2022-02-14 09:31] #56 closed

[2022-02-14 09:31] constantinpape commented on #54
Solved by #55

[2022-02-14 09:31] #54 closed

[2022-02-14 09:32] constantinpape commented on #52
This is now working, thanks @KateMoreva

[2022-02-14 09:32] #52 closed

[2022-02-14 09:35] constantinpape commented on #46
@tischi @KateMoreva is this issue still relevant or can we solve it?

[2022-02-14 09:37] constantinpape commented on #42
We are making progress!

Reading ome.zarr v0.4 works now, except for multiple images per zarr, see #63.

@K-Meech how is the status with the writer, is this working for ome.zarr v0.4 ("final" version) already?

[2022-02-14 09:39] constantinpape commented on #47
I think most of this is done already, @tischi could you check if any of the points here still need to be done and if yes say so /  otherwise close the issue.

[2022-02-14 09:40] #47 closed

[2022-02-14 09:41] tischi commented on #46
I don't think there has been anything done yet.

[2022-02-14 09:43] constantinpape commented on #20
Axis orders are correct.

[2022-02-14 09:43] #20 closed

[2022-02-14 09:44] tischi commented on #63
I thought we just return a `SpimData` object that contains everything. This should work as `SpimData` essentially is a list of `Source`s which can have all different dimensions.

@KateMoreva would that be difficult to implement?

But throwing an informative error is also OK for me for now.

[2022-02-14 09:44] constantinpape commented on #10
axis orders are correct

[2022-02-14 09:44] #10 closed

[2022-02-14 09:44] #46 closed

[2022-02-14 09:45] constantinpape commented on #7
This issue is outdated and just describes the `mobie-io` repo :).

[2022-02-14 09:45] #7 closed

[2022-02-14 09:49] constantinpape commented on #63
From the implementation side that would be fine with me.

But that doesn't fully solve the issue on the user side though: it's still unclear what to do when a user opens such an ome.zarr with BDV, because it may not make sense to display the images in the same coordinate space.

[2022-02-14 09:51] KateMoreva commented on #63
There is an issue with reading the correct metadata (path to it, to be precise) for each source. I am investigating it.

[2022-02-14 09:56] tischi commented on #63
Yes, but I think that's a rabbit hole (i.e. needs potentially loooong discussions). For now, I would just open everything, assuming that stuff in the same container lives in the same coordinate system.

[2022-02-14 10:01] constantinpape commented on #63
Yeah, this is quite complex. So I agree that we have two options for now:
- open everything in the viewer, just assume that it's in the same coordinate system
- throw a clear error message when trying to open this in BDV.

Both are fine with me.

[2022-02-14 10:17] K-Meech commented on #42
@constantinpape - the writers don't support v0.4 yet. I was waiting for the v0.4 readers to be finished first, so it would be easier to test the results from the writers. I'll get on this now! Hopefully I'll have time this week.

[2022-02-14 10:22] tischi commented on #63
I think we should do this.

[2022-02-14 10:31] tischi opened #68 "v4 and BDV XML"
@constantinpape @K-Meech

When we save data in `v0.4`, do we then still need the BDV XML?

[2022-02-14 10:38] K-Meech commented on #68
I don't think so? As the scaling/transforms metadata is now supported? We should probably drop bdv ome-zarr from the project creator, and only support v0.4 ome-zarr then.

[2022-02-14 10:39] tischi commented on #66
Should we wait with the non-beta release until the writer for v0.4 works?

[2022-02-14 10:41] tischi commented on #68
Yes, but would we need a script/function that converts data saved already as bdv.ome.zarr to pure ome.zarr? Otherwise I guess it would be difficult to edit old projects, would it?
Or maybe for the "edit" option it would still support the older formats for both read and write?

[2022-02-14 10:47] K-Meech commented on #68
True - these old projects could still be opened in MoBIE, but it would be hard to edit them in the project creator. I don't think it would be too hard to make a script that would convert these bdv ome-zarr to v0.4 ome-zarr though. As far as I understand, only the metadata is different, not the actual chunks, so we would only need to re-write a few files...

[2022-02-14 10:52] constantinpape commented on #68
Just fyi, for now v0.4 only supports `scale` and `translation`; general affines will follow in the next release.
So if you want to keep support for affines we would need to stick to supporting the xml.

[2022-02-14 10:54] K-Meech commented on #68
Good point. Ok - let's keep the bdv xml for now, and remove it once everything is supported.

[2022-02-14 11:32] KateMoreva commented on #63
The issue was mostly with the dataset itself. Code in the `develop` will open only first of the `multiscales`, code in the [PR](https://github.com/mobie/mobie-io/pull/67) will open all `multiscales` at once.

[2022-02-14 11:41] K-Meech commented on #42
@constantinpape - I'm just having a quick look through the v0.4 example data. I'm a bit unsure of the metadata for the volumes with time. For these, you have one ```coordinateTransformations``` underneath the axes, then one for each dataset.

E.g.
[code]
and then for the first dataset:

[code]

If I left out the first one, would it be equivalent to put 10 for the time scale in every dataset? Or is

[2022-02-14 12:09] constantinpape commented on #42
The "general" `coordinateTransformation` applies to each scale the same way. So, in this case, instead of having it one could just put the 10 for the time axis to each of the datasets. Does that answer your question?

[2022-02-14 12:14] KateMoreva commented on #63
S3 data needs to be changed.

There is a small issue with the names:

![image](https://user-images.githubusercontent.com/48569608/153862027-2f1cd8f6-4b7b-4f02-a749-7b39604f606e.png)

We have only one name, although there should be several `multiscales`.

[2022-02-14 12:31] constantinpape commented on #63
I have just updated it. So it would be good if you can add a test for this to #67.

I think that this is all handled correctly already: all 4 images are available in the BDV menu (`p`) and can be selected, deselected etc.:
![image](https://user-images.githubusercontent.com/4263537/153864723-12cdb842-f628-4d5a-b784-5da8c5459007.png)

[2022-02-14 12:41] KateMoreva commented on #63
There is a test (for s3) : ` public void multiImg() throws IOException {}`

[2022-02-14 12:50] K-Meech commented on #42
Yes -thanks @constantinpape!

[2022-02-14 14:02] constantinpape commented on #63
Implemented in #67. Thanks @KateMoreva.

[2022-02-14 14:03] constantinpape commented on #42
Reading v0.4 is fully implemented now! Thanks @KateMoreva!

[2022-02-14 14:13] K-Meech commented on #68
Ok - started working on this, and I've changed my mind. Since, in MoBIE, we just have the scaling in the xml, and all affines handled by the views - then perhaps already we can remove the xml? This would make it simpler on the writing side, as otherwise we will have the xml + v0.4 ome-zarr, so potentially two conflicting sets of metadata on the transforms..

[2022-02-14 14:16] constantinpape commented on #68
Sounds good. I wasn't sure how well we actually enforce "just scaling in the xml", but that's probably a good opportunity to be strict about this.

[2022-02-17 08:07] tischi opened #70 "Test OME-Zarr JSON validity"
I just had a brief look and the changes seem good to me. We could maybe extend the writer test and make use of the ome-ngff jsonschema that now exists: https://github.com/ome/ngff/blob/main/0.4/schemas/image.schema (if this is easy in java).

_Originally posted by @constantinpape in https://github.com/mobie/mobie-io/pull/69#pullrequestreview-884888357_

[2022-02-17 11:09] tischi commented on #66
I pushed the most recent versions to MoBIE-beta, but I did not test anything manually (apart from the automatic tests).

"Does it work"? Whatever you do there, could we add it as an automated test?

[2022-02-17 12:37] tischi opened #72 "Error when opening OME-Zarr created with bioformats2raw"
@constantinpape @K-Meech @KateMoreva

`Plugins › BigDataViewer › OME ZARR › Open OME ZARR From File System...`

with

`/g/cba/exchange/ome-zarr/2022/lifdata1__bf2raw-0-4-0.zarr`

gives

[code]

[2022-02-17 12:55] constantinpape commented on #72
It's an encoding issue: the data is written with `$\um$m` as unit (which is also discouraged by the spec). If you change it to some unit name that is UTF-8 it works. (This is why sticking to UTF-8 is always a good idea....)

[2022-02-17 13:16] constantinpape commented on #72
Ideally this should be fixed in bioformats to raw, so that it writes utf-8 and only uses the recommended names for untits in order to be fully spec compliant.

[2022-02-17 13:33] sbesson commented on #72
Can you share the extract of the JSON which causes the issue on Mobie?
If it is possible to create a minimal reproducible scenario, this is likely something to report as an issue on https://github.com/glencoesoftware/bioformats2raw

[2022-02-17 13:58] constantinpape commented on #72
@tischi can you provide the minimal example and data for this?

I think we can go ahead with the release irrespective of this.

[2022-02-17 14:43] tischi commented on #66
@constantinpape @K-Meech

I would then make a MoBIE (non-beta) release with what we have right now.
OK?

[2022-02-17 14:46] constantinpape commented on #66
@tischi sorry, I overlooked your previous message. I will test two more things and then let you know.
Could you maybe test writing something from the GUI?

[2022-02-17 14:47] tischi commented on #66
@constantinpape
Yes, it is here: `/g/cba/exchange/ome-zarr/2022/xyzct_8bit__mobie-2-1-0.ome.zarr`

[2022-02-17 14:51] K-Meech commented on #66
@tischi Could you also update MoBIE-beta again when you do this? I added a tiny fix to the develop branch that needs to go there. (otherwise I can do it :)

@constantinpape For tests - there are a bunch for adding images  from the API, but not via the GUI. It's a bit difficult to test, as it needs a bunch of interaction with various dialogs... I'm not sure how it could be done.

[2022-02-17 14:54] constantinpape commented on #66
I think that's fine, but we should then still manually check once that it works via the GUI in the beta release. (and I don't know how, I will check the reading part via the GUI again)

[2022-02-17 15:14] constantinpape commented on #66
@tischi I checked now and opening ome.zarr files and MoBIE projects works as expected.

I am still confused about this: https://github.com/mobie/mobie-io/issues/66#issuecomment-1043029365

[2022-02-17 15:20] K-Meech commented on #66
I've tested adding a few images via the GUI on the current MoBIE-beta, and all looks good to me. The only part that doesn't work, is the one that is resolved by the fix on the develop branch.

[2022-02-17 15:27] constantinpape commented on #72
@bugraoezdemir
This is not the same metadata that causes the issue:
[code]
I will try to discuss this with @tischi I am a bit confused here.

[2022-02-17 15:54] tischi commented on #72
[code]

This is the error that corresponds to the image @bugraoezdemir uploaded.

[2022-02-17 15:58] bugraoezdemir commented on #72
Sorry. It was my mistake. The earlier error corresponded to another conversion.

[2022-02-17 16:48] tischi opened #73 "Error opening OME-Zarr v0.2"
@KateMoreva
Could you please have a look why we get an error when opening this file?
`/g/cba/exchange/ome-zarr/2022/v0.2-mobie-error.zarr`

[code]

[2022-02-17 16:57] constantinpape commented on #72
Hey @sbesson,
we had a closer look at this now and I initially mixed up some files and mistook the error.
So the issue here is that by default `bioformats2raw` writes a nested structure that we can't deal with in MoBIE.
But there is an option to write to the root level directly, which then should work for us.
So for now it seems like everything is ok in bioformats2raw; sorry for the false alarm.
(

[2022-02-17 16:58] constantinpape commented on #73
Just for some context: this is an ome.zarr file with format version 0.2. And we are not 100% sure if there is an issue with MoBIE opening version 0.2 files in general or something wrong with this particular file.

[2022-02-17 17:08] constantinpape opened #74 "Only write supported unit names, especially avoid non UTF-8 characters"
It would be good to only write unit names that are recommended in the v0.4 spec, see https://github.com/ome/ngff/blob/main/0.4/index.bs#L228-L229.

I understand that this is a bit tricky, since the unit names are read from the image metadata in Fiji, but we can add a dict with common translations and then throw a warning if no match is found.

It would be especially important to write `micrometer`

[2022-02-17 17:38] tischi commented on #72
Now I am a bit confused 😄
I thought we can open a zarr with multiple images in MoBIE?
Doesn't that imply a nested folder structure, i.e. no multi-scales at the top level?

[2022-02-17 17:42] K-Meech commented on #74
I'll look into this - link this issue: https://github.com/mobie/mobie-viewer-fiji/issues/583
How do you handle this in the python library? Do you only accept the specific 0.4 strings? Also, do you specify a certain unit to use for the whole project? At the moment, I don't constrain this at all, so the project could be all in nanometer, all in micrometer etc...

[2022-02-17 17:45] #70 closed

[2022-02-17 18:07] KateMoreva commented on #73
The problem was that there was no information about compression. [PR](https://github.com/mobie/mobie-io/pull/75) fixes this issue.

[2022-02-17 19:32] constantinpape commented on #72
@tischi your past self has wondered about this already: https://github.com/ome/ngff/issues/17
;)

[2022-02-17 19:40] constantinpape commented on #73
@tischi I have merged #75 where this should be fixed. Could you make sure to also include this in the release?

[2022-02-17 22:23] sbesson commented on #72
I will leave you guys to sort out what MoBIE should or should not support 😄 Cross-linking other threads for completion:

- the default hierarchy produced by `bioformats2raw 0.4.0` is indeed a top-level Zarr group containing one or more multiscale OME-NGFF images as well as an `OME` group with the OME-XML metadata (see also https://github.com/ome/ome-zarr-py/issues/163#issuecomment-1024327654).

-

[2022-02-18 07:46] tischi commented on #72
@constantinpape
Thanks for pointing out my past self.
Then I don't really think we can speak of being able to open multiple images in MoBIE.
This is more several times the same image, at potentially different chunking....

[2022-02-18 07:53] tischi commented on #73
ping @constantinpape @K-Meech @KateMoreva ☝️

[2022-02-18 08:45] constantinpape commented on #73
I agree, we can bump the version more frequently for smaller fixes. But note that you can also bump the patch version, i.e. the `z` in `x.y.z`. Especially when a project still has a zero major (`x`) version it's best practice to bump the patch version frequently, and bump the minor version (`y`) when something in the design changes or new functionality is added.

[2022-02-18 08:52] constantinpape commented on #72
@sbesson thanks for the pointers!

Yes, we (at least the @bugraoezdemir and @tischi who are actually using `bioformats2raw`) are aware of the converter option now and will use it to create ome.zarr containers compatible with MoBIE.
We also want to support the nested hierarchies eventually, but it makes most sense to do this once we integrate with the metadata functionality from https://github.com/

[2022-02-18 09:15] tischi commented on #73
Sorry, I meant the patch version!

[2022-02-18 10:05] constantinpape opened #76 "Ome zarr v0.3 reading is broken"
@KateMoreva it looks like opening ome.zarr v0.3 is not working any more, see the error below when I try to open `https://s3.embl.de/i2k-2020/ngff-example-data/v0.3/zyx.ome.zarr`. Could you please look into fixing this AND add tests that check that all the ome.zarr files in `https://s3.embl.de/i2k-2020/ngff-example-data/v0.3` can be loaded?

[code]

[2022-02-18 10:27] K-Meech commented on #76
This might be due to changes I made - so I'll also take a quick look

[2022-02-18 10:47] KateMoreva commented on #76
I almost fix this:)

For reading, we should not use
[code]
for writing, we need to convert List<ZarrAxis> zarrAxisList to the ZarrAxes. Thus there would not be problems with v3 and v4 reading and writing.

[2022-02-18 11:00] tischi opened #77 "Add tests"
I am making an extra issue that we do not forget this.

[2022-02-21 14:22] K-Meech commented on #68
I'll close this, as we decided to remove the xml for writing

[2022-02-21 14:22] #68 closed

[2022-02-23 08:07] tischi opened #79 "Downsampling strategy when writing OME-Zarr"
Do we use fixed down-sampling factors?
That's not ideal when the input data is very anisotropic.
It would probably be better to first only downsample the lowest resolution dimension.
Not sure...

[2022-02-23 09:41] tischi commented on #79
Could we check what it would do for an input image with: X Y Z: 4000x4000x300

[2022-02-23 09:51] K-Meech commented on #79
Sure! I can check this

[2022-02-23 10:08] K-Meech commented on #79
@tischi What xyz resolution is this? I need both the dimensions (in pixels) and the voxel scaling

[2022-02-23 10:12] tischi commented on #79
@martinschorb could you tell (s.a.)

[2022-02-23 10:15] tischi commented on #77
@KateMoreva did you do this already? then we could close the issue...

[2022-02-23 10:15] martinschorb commented on #79
https://github.com/mobie/centrioles-tomo-datasets/blob/new_crop/data/tomo/images/bdv-n5/MMRR_06_Grid1_c442.xml

[code]

[2022-02-23 10:18] #77 closed

[2022-02-23 10:26] K-Meech commented on #79
Ok - I tried with the size and voxelSize in the file from @martinschorb as below:
[code]

This gives resolutions of (1,1,1), (2,2,2), (4,4,4), (8,8,8) and chunks of (64,64,64) for every level.

[2022-02-23 10:32] tischi commented on #79
Could you also try for  `2024, 2024, 24`

[2022-02-23 10:38] K-Meech commented on #79
This gives the same resolutions, but now with different chunks per level: (128, 64, 32), (128, 128, 16), (256, 128, 8), (256, 256, 4)

[2022-02-23 10:38] tischi opened #80 "Enable writing to S3"
I cannot find back the issue (I made one already..).

I would sort of soon need a way to write a new MoBIE View to S3.

To achieve this I guess it would be great if we could have this read method also for writing (is this notion correct @K-Meech?):
https://github.com/mobie/mobie-io/blob/404f5b1de855e36582c2285876ab047d04bffc70/src/main/java/org/embl/mobie/io/util/FileAndUrlUtils.java#L122

I can w

[2022-02-23 10:42] K-Meech commented on #80
The other issue is here: https://github.com/mobie/mobie-viewer-fiji/issues/580
Yes - go ahead! Sounds good.

[2022-02-23 10:45] martinschorb commented on #79
but why is `x` and `y` chunk size anisotropic in this case?

[2022-02-23 10:47] tischi commented on #79
I could not explain my own code now, but it looks like for my imaris-writer implementation I am only down-sampling if the data is not too anisotropic:

[code]

[2022-02-23 11:12] K-Meech commented on #79
So - what would need to be changed? Less downsampling for the images with anisotropic dimensions (but not voxel size)?
It would be easiest to make an issue/PR on the BigDataViewer repo directly. Anything that's an issue for OME-ZARR writing, will also be present for anyone writing N5 from fiji too as it uses the same code.

[2022-02-23 11:45] constantinpape commented on #79
just my 2cents: any heuristics to determine the downsampling factors and chunk size will likely lead to sub-optimal results in some corner cases. So it would be good to provide the option to specify this manually.

[2022-02-23 11:58] K-Meech commented on #79
Good point! This is actually already possible in the project creator if you uncheck the box saying 'use default settings'

[2022-02-23 12:04] tischi commented on #79
Yes, AND the heuristic (default) should be "as good as possible".

[2022-02-25 15:40] tischi opened #82 "Voxel size not read"
[code]

yields "pixels" and `[1,1,1]` which I guess is wrong?

ping @constantinpape @K-Meech

- [x] fix it
- [x] add a test for `unit` and `voxelSize` using above example

[2022-02-25 15:57] K-Meech commented on #82
@tischi @KateMoreva - I think I already have a fix for this on my mobie-io branch (I needed it for converting the ome-zarr units / restricting units in the project creator). It's here: https://github.com/K-Meech/mobie-io/commit/46454fdd20f0ac72b97fb97de3642efc3feba89f I should be able to finish up this PR early next week (got busy with a paper!).

[2022-02-25 19:58] constantinpape commented on #82
Please also add a test for this.

[2022-02-28 10:54] K-Meech opened #83 "N5 file can't be opened from private S3 bucket with shared queue"
Opening an n5 file in a private bucket like so works:
[code]
but with a shared queue doesn't. Same as above but with:
[code]
Errors with:
[code]

Related to: https://github.com/mobie/mobie-viewer-fiji/issues/621

[2022-02-28 10:56] K-Meech commented on #83
@KateMoreva - would you have time to look into this?

[2022-02-28 12:21] KateMoreva commented on #83
Yes, I'll look into this today or/and tomorrow.

[2022-02-28 16:09] constantinpape commented on #82
Hey @K-Meech, did you have a chance to look into this? It would be great to get this in soon to move on with the release.

[2022-02-28 16:11] K-Meech commented on #82
Hi @constantinpape - not yet. I should have time tomorrow to look at this!

[2022-03-02 06:47] tischi commented on #82
@K-Meech The issue was about _reading_ the voxel size and unit. Does your above PR about _writing_ OME-Zarr also address this?

[2022-03-02 09:16] K-Meech commented on #82
Yes it does! I was working on writing the units + keeping it consistent with the project creator, when I noticed the reading issue. I fixed it alongside, as I needed it to read OME-ZARR units in the project creator.
I added a test in that PR too for the code at the top of this issue: https://github.com/mobie/mobie-io/blob/develop/src/test/java/spimdata/OmeZarrV4S3SpimDataTests.java#L15, and it pas

[2022-03-02 09:48] constantinpape commented on #82
Thanks @K-Meech.

[2022-03-02 09:48] #82 closed

[2022-03-02 09:57] K-Meech commented on #76
I think this was all fixed by @KateMoreva here: https://github.com/mobie/mobie-io/pull/78

[2022-03-02 09:59] martinschorb opened #85 "Supported data types"
We should aim making the supported data types consistent across MoBIE tools and NGFF.

originated from: https://github.com/mobie/mobie-utils-python/issues/42#issuecomment-1056699025

[2022-03-02 10:18] constantinpape commented on #85
To be more precise, this is a **data range** and not a **data type** issue; the problem is mainly that the mobie viewer does not handle negative values well because of underlying functionality in BDV.
(As such this is likely not a problem relevant in mobie-io, but rather in mobie-viewer-fiji, where most of the viewer related logic is implemented. But I will wait for @tischi to comment here who wou

[2022-03-02 10:19] #76 closed

[2022-03-02 10:27] martinschorb commented on #85
If we provide the range in the view definition (which we do), couldn't a potential (even negative) offset be applied to simply always have 0 as starting value?

[2022-03-02 10:42] K-Meech commented on #73
I think this was fixed by @KateMoreva here: https://github.com/mobie/mobie-io/pull/75. I'm not sure there's a test though?

[2022-03-02 10:45] martinschorb commented on #85
I just tried converting the data to N5 using the Fiji-Plugin and confirm that the data type stays float32 and BDV cannot handle it because the intensity range is limited to being positive and integers. (data range in my normalized reconstruction is roughly: -0.002 to +0.002)

[2022-03-02 10:52] constantinpape commented on #73
Yes, I couldn't find a test either. I will close this for now; I will open another issue about tests since it would be good to systematize this a bit; but this can wait till after the release.

[2022-03-02 10:52] #73 closed

[2022-03-02 11:02] tischi commented on #85
@martinschorb do you have such an image for me that I could try to open?

[2022-03-02 11:04] martinschorb commented on #85
[code]

[2022-03-02 11:08] tischi commented on #85
I mean one that has been converted N5 or OME-Zarr.

[2022-03-02 11:09] tischi commented on #85
In fact, to really test this it would have to be an image within a MoBIE project. Do you have this?

[2022-03-02 11:09] martinschorb commented on #85
[code]

[2022-03-02 11:10] martinschorb commented on #85
not yet, because I got stuck during Constantin's validation steps (re data range).

[2022-03-02 11:11] tischi commented on #85
OK, I guess could still try with the `/g/emcf/Hamburg_XRay/new_rec/PROCESSED_DATA/test_float32.ome.zarr`. I'll let you know!

[2022-03-02 11:12] martinschorb commented on #85
These are reconstructed X-ray tomograms from HH, so we expect loads of this type of data coming in in the future.

[2022-03-02 13:54] tischi commented on #85
One can open it in MoBIE, but clicking the `[B]` button throws:
[code]
I will investigate more later today.

[2022-03-02 16:10] tischi commented on #85
@martinschorb

I can make it work within MoBIE:

<img width="784" alt="image" src="https://user-images.githubusercontent.com/2157566/156400405-09e13718-1e7f-4e99-8b63-a5b1ee0314a2.png">

The question is how to set the maximal range of the contrast limit sliders.

I am using this code right now:

[code]

Does that make sense? The last two lines I mean? Is a factor of 3 a good idea?

If people want

[2022-03-02 16:11] tischi commented on #85
@constantinpape @K-Meech would be also good to have your opinion on the above question.

[2022-03-02 16:34] tischi commented on #85
@martinschorb

Here you can try to help that your wishes come true (whatever they are).
https://github.com/ome/ngff/issues/78

[2022-03-02 17:56] tischi commented on #85
I made a [PR to better support B&C settings of float images](https://github.com/mobie/mobie-viewer-fiji/pull/629). We can merge once everyone's happy.

[2022-03-02 20:53] constantinpape commented on #85
I am a bit confused by this question and the ensuing discussions. These values should be read from `contrastLimits` in the MoBIE metadata.

By default I am using `[0, dtype.max]` for integer types and `[0, 1]` for float types. But users can easily over-write these values.
(And I don't want to include any more heuristics here on the python side; if a user wants something custom they need to pass th

[2022-03-03 08:39] martinschorb commented on #85
It makes total sense to take the contrast limits from the respective `view` entry. It just wasn't immediately obvious from the methods' nomenclature where it gets them from. `DisplayRange` vs. `sourceDisplays -> imageDisplay -> contrastLimits`.

So the question would be more on the creator's side (when creating the view) to fetch these values from existing metadata or, when doing the conversion to

[2022-03-03 09:15] tischi commented on #85
@constantinpape

These are actually three different things (see also https://github.com/ome/ngff/issues/78).

1. `contrastLimits`, those are used to render the image, they are initially taken from dataset.json but the iuser can change those
2. `contrastUIRange`, this is just a rendering issue for the GUI to set the  `contrastLimits` (in fact napari also suffers from this and makes it sometimes imp

[2022-03-03 10:05] constantinpape commented on #85
Short summary of meeting with @martinschorb and @tischi :
- `contrastLimits`: we remove the constraints of the range in [0, uint16.max] from the spec
- `contrastUIRange`: we add `contrastLimit.max - contrastLimit.min` on each side of the slider
- `valueRange`: not relevant for now

I will make the spec change and ping you @martinschorb once it's ready to use

[2022-03-03 10:15] constantinpape commented on #85
@martinschorb you can set arbitrary contrast limits now, but you first need to clear the local copy of the spec:
[code]
Let me know if you run into any more issues with the project creation.

[2022-03-03 13:45] tischi commented on #85
I merged the mobie-viewer-fiji PR.
Can we close the issue?

[2022-03-03 13:46] constantinpape commented on #85
Yes, sounds good. @martinschorb if there are any more issues with the python creator just raise them in `mobie-utils-python`

[2022-03-03 13:46] #85 closed

[2022-03-10 09:24] K-Meech commented on #83
This is fixed now :)

[2022-03-10 09:24] #83 closed

[2022-03-15 17:33] constantinpape commented on #74
I think this is implemented already, correct @K-Meech?

[2022-03-15 17:34] constantinpape commented on #72
This has been resolved.

[2022-03-15 17:34] #72 closed

[2022-03-15 17:34] constantinpape commented on #66
All releases are done *hooray*

[2022-03-15 17:35] constantinpape commented on #49
I think this has been implemented now, correct @KateMoreva?

[2022-03-15 17:36] constantinpape commented on #42
v0.4 is fully supported now (and everything related to this is released!) :)

[2022-03-15 17:36] #42 closed

[2022-03-15 17:47] constantinpape commented on #11
We have checked this often now and the data is loaded in the correct axis order.

[2022-03-15 17:47] #11 closed

[2022-03-15 18:06] constantinpape opened #87 "More systematic tests for opening the supported data formats"
## More systematic tests for opening the supported data formats

The tests for opening the supported data formats in https://github.com/mobie/mobie-io/tree/main/src/test/java are not very systematic; both in terms of their organization and coverage. Since we had quite a few issues with this in the last release they should be reorganized and expanded. Note that this becomes relevant again when/if w

[2022-03-15 18:06] #8 closed

[2022-03-15 18:07] constantinpape commented on #26
Closed in favor of #87

[2022-03-15 18:07] #26 closed

[2022-03-15 18:42] constantinpape commented on #61
xref https://github.com/saalfeldlab/n5-imglib2/issues/32

[2022-03-16 07:36] KateMoreva commented on #49
I tried to check opening` "https://s3.embl.de/i2k-2020/project-bdv-ome-zarr", MoBIESettings.settings().imageDataFormat( ImageDataFormat.BdvOmeZarr)`
and it fails with
` Cannot invoke "bdv.viewer.SourceAndConverter.getConverter()" because "sourceAndConverter" is null`
Thus I can not say that everything is working properly.

I'll try to fix this as soon as possible.

[2022-03-16 07:38] constantinpape commented on #49
Thanks @KateMoreva. When you're working on this, please make sure to also implement the shared queue for `ome.zarr` and `ome.zarr.s3`. An example project is here: `https://s3.embl.de/i2k-2020/project-ome-zarr`.

[2022-03-16 08:28] K-Meech commented on #74
Yes - this is done already. If possible, it converts the unit to one of the approved OME-ZARR units.

[2022-03-16 08:28] #74 closed

[2022-03-23 11:45] tischi opened #88 "OME-Zarr SpimData platy-raw loaded twice"
@constantinpape @KateMoreva

Not sure whether it is a bug in the code or in the file, but the data is loaded twice:

`https://s3.embl.de/i2k-2020/platy-raw.ome.zarr`

<img width="634" alt="image" src="https://user-images.githubusercontent.com/2157566/159691894-c7caadfc-ac45-4898-abc8-ee8c5a6465f1.png">

[2022-03-23 12:40] constantinpape commented on #88
This is a minor issue with the data, I will fix it.

[2022-03-23 12:40] #88 closed

[2022-04-14 09:07] constantinpape commented on #49
@KateMoreva do we have shared queue loaders for both `ome.zarr` and `ome.zarr.s3` now?
(At least for `ome.zarr.s3` I know that we have :D).

If yes then we can close this issue. We **don't** need the shared queue loaders for the `bdv.ome.zarr.*` formats, since these are outdated and we will not use them going forward.

[2022-04-14 09:15] KateMoreva commented on #49
Well, I made them for bdv version as well, but did not fully test.
For `ome.zarr` we have shared queue and it should be working.

[2022-04-14 09:17] constantinpape commented on #49
Ok, it doesn't hurt to have them :). Can you maybe briefly test them? Just see if you can open the example project (https://s3.embl.de/i2k-2020/project-bdv-ome-zarr) with them.

Awesome!

[2022-04-23 08:12] tischi opened #91 "Remove doesObjectExist() calls everywhere?"
For example, in the below function from `N5S3OMEZarrReader` it initially does `this.s3.doesObjectExist(this.bucketName, objectPath)`.
Profiling suggests that this takes a significant amount of time, in fact, as much time as loading the object, thus, it seems to increase our loading time by a factor of 2.
Could we remove all those `doesObjectExist` calls and handle missing objects it rather by erro

[2022-04-24 16:28] tischi opened #92 "Rename FileAndURIUtils?"
Suggestions:

- IOUtils

Other ideas?

@constantinpape @K-Meech @KateMoreva

[2022-04-25 11:06] K-Meech commented on #92
```IOUtils``` sounds good to me.

[2022-04-25 19:44] constantinpape opened #93 "Loading ome.zarr and bdv.n5 source in the same view is broken"
this used to work, but is now broken in the current mobie-beta version.
To reproduce: open the view `all_sources` in https://github.com/mobie/clem-example-project on the `more-views` branch.

This raises a very long error message, see https://github.com/mobie/clem-example-project/issues/20#issuecomment-1108709710

[2022-05-06 15:06] K-Meech opened #94 "MoBIE-io incompatible with bigdataviewer-core:10.2.2"
The newest version of fiji ships with bigdataviewer-core:10.2.2 which is currently incompatible with mobie-io. Trying to build with this version errors with:
```java: org.embl.mobie.io.n5.loaders.N5ImageLoader.N5CacheArrayLoader is not abstract and does not override abstract method loadArray(long[],int[]) in bdv.img.cache.SimpleCacheArrayLoader```

This isn't currently an issue for MoBIE (as I thi

[2022-05-06 16:20] tischi commented on #94
Yes! We should definitely do this! @KateMoreva could you please look into the above error and update the bdv-core dependency in the pom?

For some time we needed a more recent version than the one that shipped with Fiji.
We should then also update the bdv-core dependency in the pom of mobie-viewer-fiji.

Ideal would be to completely remove the version of bdv-core and rely on the scijava-parent-pom

[2022-05-06 16:26] K-Meech commented on #94
Ok - sounds good! I saw fiji seems to be using a new version of the pom-scijava too (32.0.0-beta-4) - so probably worth updating the pom-scijava version in both too. Although the 'beta' in the name is a bit weird.

[2022-05-09 15:28] tischi commented on #94
You could ask about that here: https://gitter.im/fiji/fiji

[2022-05-16 09:36] tischi commented on #92
Or maybe `IOHelper` to be consistent with mobie-viewer-fiji?

I have no strong opinion, I'd leave this up to @KateMoreva...

[2022-05-16 13:06] constantinpape commented on #92
Both `IOHelper` or `IOutils` sound good to me.

[2022-05-18 06:48] tischi commented on #91
Never mind, I think I figured something out.

[2022-05-19 13:01] tischi commented on #93
Is this still an (important) issue?

[2022-05-19 13:13] #92 closed

[2022-05-19 13:13] tischi commented on #79
Is this still an issue?

[2022-05-19 13:24] martinschorb commented on #79
I used the Python code, so cannot judge. I think I used the manual option once for the clem overview (2D) and this worked nicely.

[2022-05-19 13:41] K-Meech commented on #79
Nothing has changed with the code here, so if you're still not happy with how the downsampling works, we'd have to make an issue / PR on the bigdataviewer repo directly. I think it works fine for now, at least for the images I've tried.

[2022-06-16 22:50] tischi opened #99 "attributes read twice in N5OMEZarrImageLoader"
in `N5OMEZarrImageLoader.prepareCachedImage`

there is `final DatasetAttributes attributes = getDatasetAttributes(pathName);`

and then in `createCacheArrayLoader()`, which is called within that function, it seems that the attributes are read again.

could we just pass them as an argument?!

[2022-06-16 23:02] tischi commented on #99
In fact, it seems as if `getDatasetAttributes(pathName)` could be in general called much less often. Can we cache the result, e.g. for each `pathName`?

[2022-06-17 09:58] tischi opened #101 "Profile SpimDataOpener().openSpimData() for S3OMEZarr"
We should profile `SpimDataOpener().openSpimData()` for  `S3OMEZarr` data.
For me this can take up to 1000 ms.
It would be important to understand why it takes so long.

[2022-06-17 10:05] tischi opened #102 "Make LoadingStrategy configurable for OME ZARR S3 ImageLoader"
Currently the `LoadingStrategy` is hardcoded to `LoadingStrategy.BUDGETED`.
It would be good to make this configurable, probably by adding another parameter to the `SpimDataOpener`.
We should however not break the API of the `SpimDataOpener` as other projects (Mastodon) currently depend on it!

[2022-06-22 08:51] tischi opened #103 "Multi channel names"
[code]

yields:

<img width="800" alt="image" src="https://user-images.githubusercontent.com/2157566/174986425-ff56ae39-7157-4b7d-865b-497ea6494329.png">

Where both channels have the same name.
We should change this as sources in BDV should not have the same name (In fact I am surprised that this does not crash)!

[2022-06-27 07:34] tischi opened #104 "Add optional chunk loading logging also to opening OME-Zarr from file system"

[2022-06-29 11:23] constantinpape opened #105 "BDV->OMEZarr does not work correctly with time dimension"
When opening an ome.zarr volume with time dimension, e.g. https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/tczyx.ome.zarr it should add the scrollbar for the time axis. But it doesn't:
![image](https://user-images.githubusercontent.com/4263537/176425064-d6bfcf3b-d93d-4cc8-9f09-f0a4ffa2bf13.png)

(This is using the mobie-io version that's shipped with the latest MoBIE-beta)

[2022-06-29 11:51] tischi commented on #103
yes, just append `c{i}`

[2022-06-29 19:55] KateMoreva commented on #105
test **showTCZYX**
`(OMEZarrS3Opener.readURL("https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/tczyx.ome.zarr")`
from the develop does open the timeline.
![Uploading Screenshot 2022-06-29 at 22.50.59.png…]()
@constantinpape, could you please describe your actions in more detail?

[2022-06-29 19:59] constantinpape commented on #105
I am opening it from Fiji, using the latest MoBIE-beta update site.
@tischi: the reason may be that you are not deploying the correct mobie.io there; I remember we had some confusion with the versioning of mobie.io when we looked at this yesterday morning.

[2022-06-29 21:02] tischi commented on #105
Yes, could be, I can redeploy tomorrow using the latest mobie-io develop.

[2022-06-30 07:26] tischi commented on #105
Done.

[2022-07-05 20:25] constantinpape commented on #105
I have just tried on the latest mobie-beta, and the issue is still there.

[2022-07-05 21:58] KateMoreva commented on #105
hm, I'll try to fix this tomorrow. I think it might be something on mobie-fiji side.

[2022-07-25 08:30] imagejan opened #106 "Consider using SciJava DataHandle/Location API"
It might be worth looking if some of the SciJava API around [`Location`](https://github.com/scijava/scijava-common/blob/401b6c589eb436fc8262dea69aee0471ee383849/src/main/java/org/scijava/io/location/Location.java) and [`DataHandle`](https://github.com/scijava/scijava-common/blob/401b6c589eb436fc8262dea69aee0471ee383849/src/main/java/org/scijava/io/handle/DataHandle.java) can be useful here.
I'm no

[2022-07-26 11:23] constantinpape opened #107 "Issue with uint16 zarr data"
There seems to be an issue with uint16 zarr data.
It throws the following error:
[code]
Some example data is here: `/g/kreshuk/pape/Work/playground/mobie-projects/spatial-trans/test.ome.zarr`.
(Note that the datatype encoding is a bit weird in zarr, it's written as `<u2`; `<`: little endian, `u`: unsigned, `2`: 2 bytes; but the error message seems to show that it does at leat get that it's a short

[2022-07-26 11:38] tischi commented on #107
Yes, I don't get it either yet. I also asked here: https://gitter.im/bigdataviewer/bigdataviewer-core

[2022-07-26 11:49] KateMoreva commented on #107
No, from debugging it seems that we read it as a VolatileDoubleArray. I missed that the data should be uint16, checking this might solve the problem.

[2022-07-26 11:50] constantinpape commented on #107
For some context: the dtype encoding follows the numpy standard and is further explained here: https://zarr.readthedocs.io/en/stable/spec/v2.html#data-type-encoding

[2022-07-26 11:57] tischi commented on #107
I think there is some wrong type annotation in the file:

<img width="968" alt="image" src="https://user-images.githubusercontent.com/2157566/181000412-e3539e2f-21ec-4a7b-923a-fc7ccb1bf478.png">

[2022-07-26 11:59] tischi commented on #107
Yes, the different resolution pyramids have different types:

[code]

[2022-07-26 12:01] constantinpape commented on #107
Ok, probably some downsampling issue. I will double check and see that I fix it.
Will ping you then.

[2022-07-26 13:24] constantinpape commented on #107
Yes, that fixes the issue. This is most likely caused by a bug in `ome-zarr-py` when writing the data. I will see if I can reproduce it and follow up with an issue there.

[2022-07-26 13:24] #107 closed

[2022-07-26 13:53] constantinpape commented on #107
This is the culprit: https://github.com/ome/ome-zarr-py/issues/217

[2022-07-26 15:00] tischi opened #108 "Test data CXY"
@constantinpape

Could you please add some S3 test data (or point me to it) with dimensions like this:

[code]

@tibuch data is like that and our code (in `multi-channel-fix`) does open it as a multi-channel image, but each channel has a wrong z-dimension (is: 4, should be: 1) that is equal to the number of channels.

And I checked, the code in `develop` is even worse, it only detects the channel

[2022-07-26 15:11] constantinpape commented on #108
@tischi you can find all the example data in https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/.
In this case https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/cyx.ome.zarr is what you're looking for.

[2022-07-26 15:58] tischi commented on #108
@KateMoreva do you have a sense of where the error could be?

[2022-07-26 16:13] constantinpape commented on #108
What exactly is the error?

[2022-07-26 16:17] tischi commented on #108
I am looking into it....

[2022-07-26 16:28] tischi commented on #108
I added several questions (marked with TODO) to the multi-channel-fix branch where I don't understand the current code. I would have some time tomorrow morning to have a look together at it.

[2022-07-26 17:13] KateMoreva commented on #108
I'll check it out.
But I don't think we missed this bug for so long.

[2022-07-26 17:15] tischi commented on #108
@KateMoreva
Please don't change anything, let's do this together!
I feel we need to change a lot in the current code.
Do you have time tomorrow morning?

[2022-07-26 17:29] KateMoreva commented on #108
@tischi
Yes, when is it convenient for you?

[2022-07-30 08:10] tischi opened #109 "Performance considerations when reading through http"
Current we are using this code from `java.net`:

[code]

I wonder what that actually does?
Specifically, does the `InputStream` (a) already contain all the downloaded data or (b) not?

[2022-07-30 08:11] tischi commented on #109
Here is something to read: https://www.baeldung.com/java-download-file

[2022-07-30 08:14] tischi commented on #109
@axtimwalde do you know the most performant why to completely load a txt file from an URL into memory?

[2022-07-31 17:21] axtimwalde commented on #109
The `InputStream` does not yet contain all the downloaded data but can deliver it at request.  I haven't done a performance evaluation.  I believe the most significant difference between the various approaches is whether you have to load the entire file or only some parts of it via random access.  This is pretty comprehensive and includes loading from URLs https://www.baeldung.com/reading-file-in-

[2022-08-01 06:47] tischi commented on #109
@axtimwalde
This is interesting, because I think http requests can have a significant overhead independent of the amount of data transfer.

For example here in your code: https://github.com/saalfeldlab/n5-google-cloud/blob/master/src/main/java/org/janelia/saalfeldlab/n5/googlecloud/N5GoogleCloudStorageReader.java#L206

I would be worried that this code currently entails **two** http requests (one

[2022-08-01 08:02] tischi commented on #109
I could not find a method that does it "in one go". There is always first
I tried to benchmark, reading a not so small file:

[code]

and I am getting:

[code]

More things to explore: https://stackoverflow.com/questions/309424/how-do-i-read-convert-an-inputstream-into-a-string-in-java

[2022-08-01 11:49] tischi opened #110 "Test bdv.n5.s3"
@KateMoreva
@constantinpape
Do we have already tests for opening `bdv.n5.s3`?

[2022-08-03 16:44] tischi opened #111 "github API rate limit exceeded"
@constantinpape @KateMoreva

I am getting an error:

[code]

<img width="869" alt="image" src="https://user-images.githubusercontent.com/2157566/182662147-4f2130b1-fc0d-42f1-afef-505b782d6dc1.png">

This seems to have something to do with sending too many requests to the GitHub REST API. I don't know if they changed their policy or why that happens now.

Hmm, I see that trying the same operation i

[2022-08-03 18:36] constantinpape commented on #111
Indeed it looks like exceeding the number of API requests.
For more details: https://docs.github.com/en/developers/apps/building-github-apps/rate-limits-for-github-apps
http://coderdiaries.com/github-error-rate-limit-exceeded/

[2022-08-03 19:18] tischi commented on #111
Yes, however, there must be also a per-second or per-minute limit which I have hit.
Would be good to know the number.

The reason was that I initialized not only the table content (which we load without the API) but also the loadable table paths, for which we need to inspect the table directory content using the GitHub API. As I do this multi-threaded quite some requests (for `covid-if`) are gener

[2022-08-03 19:18] #111 closed

[2022-08-24 20:41] KateMoreva commented on #110
Yes, `OpenRemoteAutophagosomesCLEM`, brunch multi-channel-fix_2.

[2022-08-24 20:42] #19 closed

[2022-09-08 21:37] constantinpape commented on #108
The ngff tests are now all here: https://github.com/mobie/mobie-io/tree/develop/src/test/java/projects/ngff including the one for CYX

[2022-09-08 21:37] #108 closed

[2022-09-08 21:38] constantinpape commented on #105
This issue is still there in the latest mobie-beta release.

[2022-09-08 21:41] constantinpape commented on #87
Tests for ome.zarr are here now: https://github.com/mobie/mobie-io/tree/develop/src/test/java/projects/ngff.
This is a good start, but we need to work on the structure of the test folders, it's still very messy. (I will take another look at this next week.)

[2022-09-08 22:37] constantinpape opened #118 "Next release"
Here are the TODOs for the next proper MoBIE-IO release:

MUST (these things need to be implemented / fixed)
- [ ] Remove `is...` checks from https://github.com/mobie/mobie-io/blob/develop/src/main/java/org/embl/mobie/io/ome/zarr/util/ZarrAxes.java#L86-L117; replace all parts where they are used with simpler code like in https://github.com/mobie/mobie-io/blob/develop/src/main/java/org/embl/mobie/i

[2022-09-13 21:31] constantinpape commented on #118
TODOs for cleaning up the test structure:
- Rename the tests to be more meaningful, something like `dataformats/ome.zarr/...`, `dataformats/n5/...` and so on.
- Add tests for ome.zarr metadata (e.g. scale factors) via refactoring the base test, see https://github.com/mobie/mobie-io/blob/finish-refactor/src/test/java/projects/remote/BaseTest.java#L20-L22

[2022-09-14 18:19] constantinpape opened #122 "Reverse spatial ome metadata when parsing it to avoid reversing axis orders later"
n5-java reverses the known spatial metadata that is stored by zarr (the `dimensions` and the `chunks`). ome.zarr contains other spatial metadata, e.g. `scale` and `translation`. These are read in the native zarr axis order (i.e. reversed compared to `dimensions` and `chunks`). As a consequence we need to reverse the indices when reading from e.g. `scale`.
This can be quite confusing. Instead, we c

[2022-09-16 14:25] #110 closed

[2022-09-16 14:27] constantinpape commented on #87
We made good progress on this with #124. I am closing this for now, we can make follow up issues if we want to improve specific test coverage.

[2022-09-16 14:27] #87 closed

[2022-09-23 12:11] tischi opened #125 "New release"
@imagejan @nicokiaru

I tried to make a new release (`1.2.13`), but when I ran the scijava release script it said:

[code]

Do you know what this is about?

[2022-09-23 12:46] tischi commented on #125
I just ran the release again after updating (git pull) the scijava-scripts repo and now it worked.

I don't see it on maven yet: https://maven.scijava.org/#nexus-search;quick~mobie-io

But I think that can take some time...?!

[2022-09-23 12:54] #125 closed

[2022-09-26 08:41] tischi opened #127 "Cannot finish release...."
@imagejan @nicokiaru @ctrueden

I don't manage to consistently get rid of this error:

[code]

Sometimes deleting the `release.properties` file helped, but now it doesn't....

Any ideas? Thanks a lot!

[2022-09-26 09:23] tischi commented on #127
I tried to rerun: `../scijava-scripts/github-actionify.sh -f`
I think it did something, but then in the end it gave:`fatal: pathspec '.travis.yml' did not match any files`
Which seems a bit weird because I don't see any `.travis.yml` file...
Anyway, it did not help regarding the above error.

[2022-09-26 09:33] tischi commented on #127
I found that now there is only one script: `build.yml`, while there used to be two in older versions of `github-actionify.sh`?

Anyway, also this did not fix the issue:

[code]

Probably something simple and stupid, but I cannot figure it out right now...

[2022-09-26 12:30] NicoKiaru commented on #127
Currently you have test errors in [your build](https://github.com/mobie/mobie-io/actions/runs/3126593382/jobs/5072267547):

[code]

But you're speaking of a different issue ?

[2022-09-26 13:32] ctrueden commented on #127
@tischi The `release.properties` file should not be committed to source control on the main/master branch. If you accidentally committed it, do another commit that deletes it before trying to do a release.

[2022-09-26 14:08] ctrueden commented on #127
I added logic to `release-version.sh` to [clean up `release.properties` and `pom.xml.releaseBackup`](https://github.com/scijava/scijava-scripts/commit/00b78cbe0dd4aecf612bdb78bfa5c0598e83c8e6) so they are less likely to get committed to the main repository branch.

[2022-09-26 14:37] tischi commented on #127
@NicoKiaru Thanks for spotting this, we need `sudo apt-get install -y libblosc1` in the setup.sh script. I added this back.

@ctrueden Thank you, but it still is not working. I always delete `release.properties` and commit the delete before running `../scijava-scripts/release-version.sh --skip-version-check`

[code]

Any more ideas?

[2022-09-26 14:44] tischi commented on #127
No, removing that does not fix it.

[2022-09-26 15:55] ctrueden commented on #127
@tischi Weird, it looks like your autogenerated "Bump to next development cycle" commits are readding the `release.properties` and `pom.xml.releaseBackup` for some reason. Investigating now. (It takes me awhile to test, because this repo's unit tests are very slow, and I also have to work around not having push access.)

Why are you passing `--skip-version-check`? This check is important, and shou

[2022-09-26 16:00] constantinpape commented on #127
@tischi:

Are you sure that deleting `release.properties` has worked (also in git)?

Because  `error: Your local changes to the following files would be overwritten by checkout: release.properties`
only makes sense if this file is still somehow in git.

Can you paste the output of `git status` here?

[2022-09-26 17:13] tischi commented on #127
@ctrueden you nailed it :rocket:! Turns out my IntelliJ was doing exactly that. Switching that off fixed it! Thank you so much for taking the time to dig into this :heart:

[2022-09-26 17:14] #127 closed

[2022-10-05 07:46] tischi opened #128 "Merge main and develop"
@constantinpape

I recently updated the `main` branch to be compatible with the latest fiji.
When locally trying to merge `main` into `develop` there were many changes in the tests that you wrote.
I am confused about what is happening...and I don't want to screw up.
Could you also try merging `main` into `develop`?

I am asking now, because before we merge this: https://github.com/mobie/mobie-io/p

[2022-10-05 07:49] constantinpape commented on #128
Ok, I will check it out.

[2022-10-05 09:10] constantinpape commented on #128
I checked it out, these are just the license header that have been added by the release script and no real code changes. I have merged main into dev now (https://github.com/mobie/mobie-io/pull/129). I think https://github.com/mobie/mobie-io/pull/121 is good to go now.

[2022-10-05 09:10] #128 closed

[2022-10-05 09:51] constantinpape opened #130 "Mobie-IO beta update didn't work"
Hey @tischi,
unfortunately your mobie-beta update didn't work. Are you sure you pushed the latest version from develop to it?

For reference, on the left you see "https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/image-with-labels.ome.zarr" opened with mobie-io from `develop` via https://github.com/mobie/mobie-io/blob/develop/src/test/java/ui/OmeZarrS3V4Opener.java#L88-L91 on the right you see it

[2022-10-05 09:55] tischi commented on #130
If you go to your Fiji jars folder, does it look like this?

<img width="559" alt="image" src="https://user-images.githubusercontent.com/2157566/194033590-68ce530a-3139-47de-b7b7-0ad4324e956a.png">

[2022-10-05 09:56] tischi commented on #130
There is another issue. The OME-Zarr viewer in MoBIE currently does a lot of stuff, where I am not sure this is working. I will change it to simply do what we do in mobie-io...

[2022-10-05 10:02] tischi commented on #130
ok, please update (in the new Fiji, it seems you have to actually ask it to do this, it does not automatically do that anymore).

[2022-10-05 10:05] constantinpape commented on #130
Yes, it's working now. Thanks!

[2022-10-05 10:05] #130 closed